/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { VercelCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  GetTldPriceDomainsRegistrarResponseBody,
  GetTldPriceDomainsRegistrarResponseBody$inboundSchema,
  GetTldPriceRequest,
  GetTldPriceRequest$outboundSchema,
  GetTldPriceResponseBody,
  GetTldPriceResponseBody$inboundSchema,
} from "../models/gettldpriceop.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/httpclienterrors.js";
import {
  InternalServerError,
  InternalServerError$inboundSchema,
} from "../models/internalservererror.js";
import {
  NotAuthorizedForScope,
  NotAuthorizedForScope$inboundSchema,
} from "../models/notauthorizedforscope.js";
import { ResponseValidationError } from "../models/responsevalidationerror.js";
import { SDKValidationError } from "../models/sdkvalidationerror.js";
import {
  TooManyRequests,
  TooManyRequests$inboundSchema,
} from "../models/toomanyrequests.js";
import {
  Unauthorized,
  Unauthorized$inboundSchema,
} from "../models/unauthorized.js";
import { VercelError } from "../models/vercelerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get TLD price data
 *
 * @remarks
 * Get price data for a specific TLD. This only reflects base prices for the given TLD. Premium domains may have different prices. Use the [Get price data for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-price-data-for-a-domain) endpoint to get the price data for a specific domain.
 */
export function domainsRegistrarGetTldPrice(
  client: VercelCore,
  request: GetTldPriceRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    GetTldPriceResponseBody,
    | GetTldPriceDomainsRegistrarResponseBody
    | Unauthorized
    | NotAuthorizedForScope
    | TooManyRequests
    | InternalServerError
    | VercelError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: VercelCore,
  request: GetTldPriceRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      GetTldPriceResponseBody,
      | GetTldPriceDomainsRegistrarResponseBody
      | Unauthorized
      | NotAuthorizedForScope
      | TooManyRequests
      | InternalServerError
      | VercelError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => GetTldPriceRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    tld: encodeSimple("tld", payload.tld, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/v1/registrar/tlds/{tld}/price")(pathParams);

  const query = encodeFormQuery({
    "teamId": payload.teamId,
    "years": payload.years,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerToken);
  const securityInput = secConfig == null ? {} : { bearerToken: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getTldPrice",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerToken,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "429", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    GetTldPriceResponseBody,
    | GetTldPriceDomainsRegistrarResponseBody
    | Unauthorized
    | NotAuthorizedForScope
    | TooManyRequests
    | InternalServerError
    | VercelError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, GetTldPriceResponseBody$inboundSchema),
    M.jsonErr(400, GetTldPriceDomainsRegistrarResponseBody$inboundSchema),
    M.jsonErr(401, Unauthorized$inboundSchema),
    M.jsonErr(403, NotAuthorizedForScope$inboundSchema),
    M.jsonErr(429, TooManyRequests$inboundSchema),
    M.jsonErr(500, InternalServerError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
