/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { VercelCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  GetVercelCiInvocationTreeRequest,
  GetVercelCiInvocationTreeRequest$outboundSchema,
  GetVercelCiInvocationTreeResponseBody,
  GetVercelCiInvocationTreeResponseBody$inboundSchema,
  GetVercelCiInvocationTreeVercelCiResponse429ResponseBody,
  GetVercelCiInvocationTreeVercelCiResponse429ResponseBody$inboundSchema,
  GetVercelCiInvocationTreeVercelCiResponse500ResponseBody,
  GetVercelCiInvocationTreeVercelCiResponse500ResponseBody$inboundSchema,
  GetVercelCiInvocationTreeVercelCiResponseBody,
  GetVercelCiInvocationTreeVercelCiResponseBody$inboundSchema,
  GetVercelCiInvocationTreeVercelCiResponseResponseBody,
  GetVercelCiInvocationTreeVercelCiResponseResponseBody$inboundSchema,
} from "../models/getvercelciinvocationtreeop.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/httpclienterrors.js";
import { ResponseValidationError } from "../models/responsevalidationerror.js";
import { SDKValidationError } from "../models/sdkvalidationerror.js";
import { VercelError } from "../models/vercelerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get an invocation with its jobs and tasks
 *
 * @remarks
 * Returns an invocation attempt together with every job definition, its latest job run, and the task definitions and active task runs of that job run. Defaults to the latest attempt when `attempt` is omitted. With `follow=1` the response is a newline-delimited JSON stream: a `{"type":"tree", ...}` event with the full tree is sent immediately and again whenever it changes, and a final `{"type":"end","reason":...}` event is sent when the attempt finishes (`completed`) or the stream reaches its maximum duration (`timeout`), after which clients should reconnect.
 *
 * If set, this operation will use {@link Security.bearerToken} from the global security.
 */
export function vercelCiGetVercelCiInvocationTree(
  client: VercelCore,
  request: GetVercelCiInvocationTreeRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    GetVercelCiInvocationTreeResponseBody,
    | GetVercelCiInvocationTreeVercelCiResponseBody
    | GetVercelCiInvocationTreeVercelCiResponseResponseBody
    | GetVercelCiInvocationTreeVercelCiResponse429ResponseBody
    | GetVercelCiInvocationTreeVercelCiResponse500ResponseBody
    | VercelError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: VercelCore,
  request: GetVercelCiInvocationTreeRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      GetVercelCiInvocationTreeResponseBody,
      | GetVercelCiInvocationTreeVercelCiResponseBody
      | GetVercelCiInvocationTreeVercelCiResponseResponseBody
      | GetVercelCiInvocationTreeVercelCiResponse429ResponseBody
      | GetVercelCiInvocationTreeVercelCiResponse500ResponseBody
      | VercelError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => GetVercelCiInvocationTreeRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    invocationId: encodeSimple("invocationId", payload.invocationId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/v1/vercel-ci/invocations/{invocationId}/tree")(
    pathParams,
  );

  const query = encodeFormQuery({
    "attempt": payload.attempt,
    "follow": payload.follow,
    "slug": payload.slug,
    "teamId": payload.teamId,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerToken);
  const securityInput = secConfig == null ? {} : { bearerToken: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getVercelCiInvocationTree",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerToken,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    GetVercelCiInvocationTreeResponseBody,
    | GetVercelCiInvocationTreeVercelCiResponseBody
    | GetVercelCiInvocationTreeVercelCiResponseResponseBody
    | GetVercelCiInvocationTreeVercelCiResponse429ResponseBody
    | GetVercelCiInvocationTreeVercelCiResponse500ResponseBody
    | VercelError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, GetVercelCiInvocationTreeResponseBody$inboundSchema),
    M.jsonErr(401, GetVercelCiInvocationTreeVercelCiResponseBody$inboundSchema),
    M.jsonErr(
      403,
      GetVercelCiInvocationTreeVercelCiResponseResponseBody$inboundSchema,
    ),
    M.jsonErr(
      429,
      GetVercelCiInvocationTreeVercelCiResponse429ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      500,
      GetVercelCiInvocationTreeVercelCiResponse500ResponseBody$inboundSchema,
    ),
    M.fail([400, 404, 410, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
