/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { VercelCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  GetVercelCiTaskLogsRequest,
  GetVercelCiTaskLogsRequest$outboundSchema,
  GetVercelCiTaskLogsResponseBody,
  GetVercelCiTaskLogsResponseBody$inboundSchema,
  GetVercelCiTaskLogsVercelCiResponse429ResponseBody,
  GetVercelCiTaskLogsVercelCiResponse429ResponseBody$inboundSchema,
  GetVercelCiTaskLogsVercelCiResponse500ResponseBody,
  GetVercelCiTaskLogsVercelCiResponse500ResponseBody$inboundSchema,
  GetVercelCiTaskLogsVercelCiResponseBody,
  GetVercelCiTaskLogsVercelCiResponseBody$inboundSchema,
  GetVercelCiTaskLogsVercelCiResponseResponseBody,
  GetVercelCiTaskLogsVercelCiResponseResponseBody$inboundSchema,
} from "../models/getvercelcitasklogsop.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/httpclienterrors.js";
import { ResponseValidationError } from "../models/responsevalidationerror.js";
import { SDKValidationError } from "../models/sdkvalidationerror.js";
import { VercelError } from "../models/vercelerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get log lines for the tasks of an invocation attempt
 *
 * @remarks
 * Returns log lines for the tasks of an invocation attempt in a single request, grouped by task. Tasks can be narrowed by name and by conclusion, for example `conclusion=failed` to fetch only the logs of failed tasks. With `search`, every matching task is searched at once and only tasks with matching lines are returned.
 *
 * If set, this operation will use {@link Security.bearerToken} from the global security.
 */
export function vercelCiGetVercelCiTaskLogs(
  client: VercelCore,
  request: GetVercelCiTaskLogsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    GetVercelCiTaskLogsResponseBody,
    | GetVercelCiTaskLogsVercelCiResponseBody
    | GetVercelCiTaskLogsVercelCiResponseResponseBody
    | GetVercelCiTaskLogsVercelCiResponse429ResponseBody
    | GetVercelCiTaskLogsVercelCiResponse500ResponseBody
    | VercelError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: VercelCore,
  request: GetVercelCiTaskLogsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      GetVercelCiTaskLogsResponseBody,
      | GetVercelCiTaskLogsVercelCiResponseBody
      | GetVercelCiTaskLogsVercelCiResponseResponseBody
      | GetVercelCiTaskLogsVercelCiResponse429ResponseBody
      | GetVercelCiTaskLogsVercelCiResponse500ResponseBody
      | VercelError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => GetVercelCiTaskLogsRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    attempt: encodeSimple("attempt", payload.attempt, {
      explode: false,
      charEncoding: "percent",
    }),
    invocationId: encodeSimple("invocationId", payload.invocationId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc(
    "/v1/vercel-ci/invocations/{invocationId}/attempts/{attempt}/task-logs",
  )(pathParams);

  const query = encodeFormQuery({
    "conclusion": payload.conclusion,
    "level": payload.level,
    "limit": payload.limit,
    "search": payload.search,
    "slug": payload.slug,
    "task": payload.task,
    "teamId": payload.teamId,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerToken);
  const securityInput = secConfig == null ? {} : { bearerToken: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getVercelCiTaskLogs",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerToken,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    GetVercelCiTaskLogsResponseBody,
    | GetVercelCiTaskLogsVercelCiResponseBody
    | GetVercelCiTaskLogsVercelCiResponseResponseBody
    | GetVercelCiTaskLogsVercelCiResponse429ResponseBody
    | GetVercelCiTaskLogsVercelCiResponse500ResponseBody
    | VercelError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, GetVercelCiTaskLogsResponseBody$inboundSchema),
    M.jsonErr(401, GetVercelCiTaskLogsVercelCiResponseBody$inboundSchema),
    M.jsonErr(
      403,
      GetVercelCiTaskLogsVercelCiResponseResponseBody$inboundSchema,
    ),
    M.jsonErr(
      429,
      GetVercelCiTaskLogsVercelCiResponse429ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      500,
      GetVercelCiTaskLogsVercelCiResponse500ResponseBody$inboundSchema,
    ),
    M.fail([400, 404, 410, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
